.noscript {
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 260px;
  height: 60px;
  border-radius: 10px;
  background-color: #a60756;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
}
