.header {
  background-color: #000;

  &__in {
    margin: 0 auto;
    min-height: 70px;
    background-color: #f00;

    @include container();
  }
}

//==============================================================================

// modifiers
.header--modifiersName {
  &.header {
  }

  .header {
    &__ {
    }
  }
}
