//==============================================================================
// Mixins/Centered
//==============================================================================

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centererY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin centererX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Centered display-inline element
@mixin vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

@mixin center-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
